.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
  
  #myContainer {
    width: auto;
    height: auto;
    position: relative;
  }

  #canvas {
    position: fixed;
    display: none;
  } 

#image01 {  
  width: 100%;
}